---
import Layout from "../layouts/Layout.astro";
import Cabezera from "../components/Cabezera.astro";
import Info from "../components/Info.astro";
---

<Layout title="Personal_Page">
	<main>
		<Cabezera />
		<div class="Frase_contenido">
			<div class="Frase_imagen">
				<img src="img/creatividad.png" alt="Frase Favorita" />
			</div>
			<div class="Frase_texto">
				<p>
					Es una persona <em id="caracteristica_1">INTROVERTIDA</em>, <em
						id="caracteristica_2">CREATIVA</em
					> y
					<em id="caracteristica_3">REFLEXIVA</em>. <br />Algo que
					valora de si misma es la capacidad de <em
						id="caracteristica_4">pensar antes de actuar</em
					>, siendo esto algo clave en su ser. Lo que la hace única es
					la actitud que toma ante <em id="caracteristica_5"
						>escuchar a los demás</em
					>; <br />pese que no tenga la respuesta adecuada, compromete
					su esfuerzo para empatizar con las personas.
				</p>
			</div>
		</div>
		<div class="Personal_contenido">
			<div class="Personal_recuadro">
				<p>
					Ser <em>RESPONSABLE</em> significa cumplir con compromisos de
					manera efectiva. El <em>RESPETO</em> es otro valor clave, ya
					que tratas de aceptar a los demás tal como son, sin prejuicios
					y fomentando una convivencia armoniosa. La <em
						>SINCERIDAD</em
					> también es crucial, pues la honestidad es la base para establecer
					buenas relaciones.
					<br /><br />Además, la <em>PACIENCIA</em>, es lo que ayuda a
					mantener la calma y perseverar ante los desafíos.
					Finalmente, la
					<em>EMPATIA</em> es algo de un valor profundo, ya que permite
					entender y conectar mejor con las emociones de las demas personas.
				</p>
				<img src="img/Flor.png" alt="Imagen Identificativa" />
			</div>
		</div>
		<div class="Info_contenido">
			<Info title="Cupon" img="img/Cupon.webp" ref="/cupon" />
			<Info title="..." img="img/puntos.jpeg" ref="/puntos" />
			<Info title="¿Quieres mas?" img="img/Mas.png" ref="/mas" />
		</div>
		<div class="Pie_contenido">
			<div class="Pie_redes">
				<ul>
					<li>
						<a
							class="redes"
							href="https://www.facebook.com/profile.php?id=100037348455205&mibextid=LQQJ4d"
							><img
								class="icons"
								src="icons/facebook.png"
							/>Facebook</a
						>
					</li>
					<li>
						<a
							class="redes"
							href="https://www.instagram.com/metzliggc._.08?igsh=MTh5emo2OGp3ZHRvOQ=="
							><img
								class="icons"
								src="icons/instagram.png"
							/>Instagram</a
						>
					</li>
					<li>
						<a class="redes" href="#"
							><img
								class="icons"
								src="icons/tiktok.png"
							/>Tiktok</a
						>
					</li>
				</ul>
			</div>
			<div class="Pie_autor">
				<p>
					Creditos a @Ludwig: Informacion reservada solo para dominio
					personal.
				</p>
			</div>
		</div>
	</main>
</Layout>

<style>
	/* Estilos Generales */
	main {
		height: 2419px;
	}

	/* Estilos Principal1 */
	.Frase_contenido .Frase_imagen,
	.Frase_texto {
		width: 50%;
		background-color: #181818;
		height: 640px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.Frase_contenido {
		height: 720px;
		display: flex;
		flex-direction: row;
		background-color: #181818;
	}

	.Frase_texto p {
		color: #f2f2f2;
		font-size: 22px;
		font-weight: 100;
		text-align: center;
	}

	.Frase_texto p em {
		font-size: 25px;
		font-weight: 900;
		transition-duration: 0.5s;
	}

	.Frase_texto p em:hover {
		transition-duration: 0.5s;
		font-size: 30px;
	}

	.Frase_texto p #caracteristica_1 {
		color: #8758ff;
	}

	.Frase_texto p #caracteristica_2 {
		color: #5cb8e4;
	}

	.Frase_texto p #caracteristica_3 {
		color: #e22b2b;
	}

	.Frase_texto p #caracteristica_4 {
		color: #77f4b8;
	}

	.Frase_texto p #caracteristica_5 {
		color: #ffd900;
	}

	.Frase_contenido .Frase_texto {
		margin-right: 50px;
	}

	.Frase_contenido .Frase_texto img {
	}

	.Frase_imagen img {
		transition-duration: 1s;
		width: 75%;
		height: 75%;
	}

	.Frase_imagen img:hover {
		transition-duration: 1s;
		width: 85%;
		height: 85%;
	}

	/* Estilos Principal2 */

	.Personal_contenido {
		height: 720px;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: #181818;
	}

	.Personal_contenido .Personal_recuadro {
		background-color: #5cb8e4;
		height: 550px;
		padding: 50px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.Personal_contenido .Personal_recuadro p {
		width: 50%;
		margin: 0px;
		font-size: 18px;
		font-weight: 600;
	}

	.Personal_recuadro p em {
		font-weight: 900;
		animation: colorChange 3s infinite;
		font-style: normal;
	}

	.Personal_recuadro p em:hover {
		font-weight: 900;
		font-style: normal;
		font-size: 25px;
		transition-duration: 2s;
	}

	.Personal_contenido .Personal_recuadro img {
		height: 450px;
		width: 450px;
	}

	@keyframes colorChange {
		0% {
			color: red;
		}
		25% {
			color: blue;
		}
		50% {
			color: rgb(255, 255, 255);
		}
		75% {
			color: orange;
		}
		100% {
			color: red;
		}
	}

	/* Estilos Principal3 */
	.Info_contenido {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		height: 720px;
		background-color: #181818;
	}

	/* Estilos Principal4 */
	.Pie_contenido {
		height: 200px;
		background-color: #181818;
	}

	.Pie_redes,
	.Pie_autor {
		background-color: #5cb8e4;
		height: 100px;
	}

	.Pie_redes {
		background-color: #8758ff;
	}

	.Pie_redes ul {
		margin: 0px;
		list-style: none;
		display: flex;
		flex-direction: row;
		gap: 50px;
		align-items: center;
		height: 100%;
	}

	.Pie_autor p {
		margin: 0px;
	}

	.Pie_autor {
		display: flex;
		align-items: center;
		padding: 0px 30px;
	}

	.icons {
		height: 30px;
		width: 30px;
	}

	.redes {
		display: flex;
		align-items: center;
		gap: 15px;
	}
</style>
