---
import Layout from "../layouts/Layout.astro";
import Cabezera from "../components/Cabezera.astro";
import Info from "../components/Info.astro";
---

<Layout title="Personal_Page">
	<main>
		<Cabezera />
		<div class="Frase_contenido">
			<div class="Frase_imagen">
				<img src="img/creatividad.png" alt="Frase Favorita" />
			</div>
			<div class="Frase_texto">
				<p>
					Es una persona <em id="caracteristica_1">INTROVERTIDA</em>, <em
						id="caracteristica_2">CREATIVA</em
					> y
					<em id="caracteristica_3">REFLEXIVA</em>. <br />Algo que
					valora de si misma es la capacidad de <em
						id="caracteristica_4">pensar antes de actuar</em
					>, siendo esto algo clave en su ser. Lo que la hace única es
					la actitud que toma ante <em id="caracteristica_5"
						>escuchar a los demás</em
					>; <br />pese que no tenga la respuesta adecuada, compromete
					su esfuerzo para empatizar con las personas.
				</p>
			</div>
		</div>
		<div class="Personal_contenido">
			<div class="Personal_recuadro">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Cupiditate, reprehenderit! Reprehenderit quia, similique
					beatae labore dolores odit corporis blanditiis recusandae
					quos illum. Hic, perspiciatis. Sunt et vel eius provident
					sint.
				</p>
				<img src="#" alt="Imagen Identificativa" />
			</div>
		</div>
		<div class="Info_contenido">
			<Info title="Relaciones" img="../img/relaciones.jpg" ref="#" />
			<Info title="Intereses" img="../img/intereses.jpg" ref="#" />
			<Info title="Mas" img="../img/basquet.jpeg" ref="#" />
		</div>
		<div class="Pie_contenido">
			<div class="Pie_redes">
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Tiktok</a></li>
				</ul>
			</div>
			<div class="Pie_autor">
				<p>
					Creditos a @Ludwig: Informacion reservada solo para dominio
					personal.
				</p>
			</div>
		</div>
	</main>
</Layout>

<style>
	/* Estilos Generales */
	main {
		height: 2419px;
	}

	/* Estilos Principal1 */
	.Frase_contenido .Frase_imagen,
	.Frase_texto {
		width: 50%;
		background-color: #181818;
		height: 640px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.Frase_contenido {
		height: 720px;
		display: flex;
		flex-direction: row;
		background-color: #181818;
	}

	.Frase_texto p {
		color: #f2f2f2;
		font-size: 22px;
		font-weight: 100;
		text-align: center;
	}

	.Frase_texto p em {
		font-size: 25px;
		font-weight: 900;
		transition-duration: 0.5s;
	}

	.Frase_texto p em:hover {
		transition-duration: 0.5s;
		font-size: 30px;
	}

	.Frase_texto p #caracteristica_1 {
		color: #8758ff;
	}

	.Frase_texto p #caracteristica_2 {
		color: #5cb8e4;
	}

	.Frase_texto p #caracteristica_3 {
		color: #e22b2b;
	}

	.Frase_texto p #caracteristica_4 {
		color: #77f4b8;
	}

	.Frase_texto p #caracteristica_5 {
		color: #ffd900;
	}

	.Frase_contenido .Frase_texto {
		margin-right: 50px;
	}

	.Frase_contenido .Frase_texto img {
	}

	.Frase_imagen img {
		transition-duration: 1s;
		width: 75%;
		height: 75%;
	}

	.Frase_imagen img:hover {
		transition-duration: 1s;
		width: 85%;
		height: 85%;
	}

	/* Estilos Principal2 */

	.Personal_contenido {
		height: 720px;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: #181818;
	}

	.Personal_contenido .Personal_recuadro {
		background-color: #5cb8e4;
		height: 550px;
		padding: 50px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.Personal_contenido .Personal_recuadro p {
		width: 50%;
		margin: 0px;
		font-size: 18px;
		font-weight: 600;
	}

	.Personal_contenido .Personal_recuadro img {
		height: 250px;
		width: 250px;
	}

	/* Estilos Principal3 */
	.Info_contenido {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		height: 720px;
		background-color: #181818;
	}

	/* Estilos Principal4 */
	.Pie_contenido {
		height: 259px;
		background-color: #181818;
	}

	.Pie_redes,
	.Pie_autor {
		background-color: #5cb8e4;
		height: 50%;
	}

	.Pie_redes {
		background-color: #8758ff;
	}

	.Pie_redes ul {
		margin: 0px;
		list-style: none;
		display: flex;
		flex-direction: row;
		gap: 50px;
		align-items: center;
		height: 100%;
	}

	.Pie_autor p {
		margin: 0px;
	}
</style>
