---
import Layout from "../layouts/Layout.astro";
import Cabezera from "../components/Cabezera.astro";
---

<Layout title="Gustos">
    <main>
        <Cabezera />
    </main>
</Layout>

<style></style>
