---
import Layout from "../layouts/Layout.astro";
import Cabezera from "../components/Cabezera.astro";
import Vinilo from "../components/Vinilo.astro";

let play_img = "/Persona_Card/icons/play.png";
---

<Layout title="Musica">
    <main>
        <Cabezera />
        <div class="contenido">
            <div class="pila_vinilos">
                <Vinilo
                    img="/Persona_Card/img/Nirvana_logo.png"
                    song="/Persona_Card/music/Smells_Like_Teen_Spirit.mp3"
                    clase="uno"
                />
                <Vinilo
                    img="/Persona_Card/img/Oasis.jpg"
                    song="/Persona_Card/music/La_Cancion.mp3"
                    clase="dos"
                />
                <Vinilo
                    img="/Persona_Card/img/Chica_Paranormal.jpg"
                    song="/Persona_Card/music/Chica_Paranormal.mp3"
                    clase="tres"
                />
                <Vinilo
                    img="/Persona_Card/img/Do_I_Wanna_Know.jpeg"
                    song="/Persona_Card/music/Do_I_Wanna_Know.mp3"
                    clase="cuatro"
                />
                <Vinilo
                    img="/Persona_Card/img/Good_Shit_Happens.jpg"
                    song="/Persona_Card/music/Good_Shit_Happens.mp3"
                    clase="cinco"
                />
                <Vinilo
                    img="/Persona_Card/img/Tobe_Nwigwe.jpeg"
                    song="/Persona_Card/music/Lil_Fish_Big_Pond.mp3"
                    clase="seis"
                />
                <Vinilo
                    img="/Persona_Card/img/Two_Feet.jpg"
                    song="/Persona_Card/music/Love_Is_a_Bitch.mp3"
                    clase="siete"
                />
                <Vinilo
                    img="/Persona_Card/img/Redbone.jpeg"
                    song="/Persona_Card/music/Redbone.mp3"
                    clase="ocho"
                />
                <Vinilo
                    img="/Persona_Card/img/Tokio_Drift.jpeg"
                    song="/Persona_Card/music/Six_Days.mp3"
                    clase="nueve"
                />
                <Vinilo
                    img="/Persona_Card/img/The_Neighbourhood.jpeg"
                    song="/Persona_Card/music/Daddy_Issues.mp3"
                    clase="diez"
                />
            </div>
            <div id="song_name"></div>
            <div class="opc_rep">
                <img
                    class="opc"
                    id="backward"
                    src="icons/fast-backward.png"
                    alt="anterior"
                />
                <img class="opc" id="play/pause" src={play_img} alt="despues" />
                <img
                    class="opc"
                    id="forward"
                    src="/Persona_Card/public/icons/fast-forward.png"
                    alt="p/p"
                />
            </div>
        </div>
    </main>
    <script>
        const backward = document.getElementById("backward");
        const forward = document.getElementById("forward");
        const play_pause = document.getElementById("play/pause");
        const title = document.getElementById("song_name");
        let song_name = [
            "Smells Like Teen Spirit - Nirvana",
            "La Cancion - Bad Bunny, J Balvin",
            "Chica Paranormal - Paulo Londra",
            "Do I Wanna Know - Artic Monkey",
            "Good Shit Happens - Michael Frant & Spearhead",
            "Lil Fish, Big Pond - Tobe Nwigwe",
            "Love Is a Bitch - Two Feet",
            "Redbone - Childish Gambino",
            "Six Days - Tokyo Drift",
            "Daddy Issues - The Neighbourhood",
        ];
        let cont = 0;
        title.innerText = song_name[cont];

        let ban = false;
        let vinilo = document.getElementsByClassName("vinilo")[0];
        let play_btn = document.getElementById("play/pause");
        let audio = document
            .querySelector(".contenedor_vinilo")
            .querySelector(".vinilo")
            .querySelector("audio");

        //Funcion encargada del reacomodo de clases
        function Reacomodo() {
            let vinilos = document.querySelectorAll(".contenedor_vinilo");
            for (let index = 0; index < vinilos.length; index++) {
                vinilos[index].className =
                    "contenedor_vinilo " +
                    [
                        "uno",
                        "dos",
                        "tres",
                        "cuatro",
                        "cinco",
                        "seis",
                        "siete",
                        "ocho",
                        "nueve",
                        "diez",
                    ][index];
            }
        }

        //Funcion encargada del cambio de clase siguiente
        const Cambio_Next = () => {
            let vinilos = document.querySelectorAll(".contenedor_vinilo");
            let vinilo_act = [...vinilos];
            let pila_vinilos = document.querySelector(".pila_vinilos");

            pila_vinilos.removeChild;

            vinilo_act.push(vinilo_act.shift());

            vinilo_act.forEach((vinilo) => {
                pila_vinilos.appendChild(vinilo);
            });

            Reacomodo();
        };

        //Funcion encargada del cambio de clase anterior
        const Cambio_Back = () => {
            let vinilos = document.querySelectorAll(".contenedor_vinilo");
            let vinilo_act = [...vinilos];
            let pila_vinilos = document.querySelector(".pila_vinilos");

            pila_vinilos.removeChild;

            vinilo_act.unshift(vinilo_act.pop());

            vinilo_act.forEach((vinilo) => {
                pila_vinilos.appendChild(vinilo);
            });

            Reacomodo();
        };

        //Evento encargado de pausar o activar la cancion
        play_pause.addEventListener("click", () => {
            vinilo = document.querySelector(".contenedor_vinilo");
            if (!ban) {
                play_btn.src = "/Persona_Card/icons/pause.png";
                vinilo.querySelector(".vinilo").querySelector("audio").play();
                ban = true;
            } else {
                play_btn.src = "/Persona_Card/icons/play.png";
                vinilo.querySelector(".vinilo").querySelector("audio").pause();
                ban = false;
            }
            audio = document
                .querySelector(".contenedor_vinilo")
                .querySelector(".vinilo")
                .querySelector("audio");

            audio.addEventListener("ended", () => {
                console.log("cambio");
                play_btn.src = "/Persona_Card/icons/play.png";

                //Lanzo el evento click para forward
                const next = new Event("click");
                forward.dispatchEvent(next);
            });
        });
        //Evento encargado de retroceder a la anterior cancion
        forward.addEventListener("click", () => {
            if (cont < 9) {
                const vinilo_animated =
                    document.querySelector(".contenedor_vinilo");
                vinilo_animated.style.visibility = "hidden";

                cont++;
                title.innerText = song_name[cont];
                if (!vinilo.getElementsByTagName("audio")[0].paused)
                    vinilo.getElementsByTagName("audio")[0].pause();
                play_btn.src = "/Persona_Card/icons/play.png";
                ban = false;

                Cambio_Next();

                const play = new Event("click");
                play_pause.dispatchEvent(play);
            }
        });
        //Evento encargado de pasar a la siguiente cancion
        backward.addEventListener("click", () => {
            if (cont > 0) {
                cont--;
                title.innerText = song_name[cont];
                if (!vinilo.getElementsByTagName("audio")[0].paused)
                    vinilo.getElementsByTagName("audio")[0].pause();
                play_btn.src = "/Persona_Card/public/icons/play.png";
                ban = false;
                Cambio_Back();
                const play = new Event("click");
                play_pause.dispatchEvent(play);
            }

            const vinilo_animated =
                document.querySelector(".contenedor_vinilo");
            vinilo_animated.style.visibility = "visible";
        });
    </script>
</Layout>

<style>
    .contenido {
        height: 90vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    main {
        background-color: #181818;
    }

    .pila_vinilos {
        position: relative;
        height: 400px;
        width: 400px;
        margin-right: 15vh;
    }

    .opc_rep {
        display: flex;
        gap: 10vh;
    }

    .opc {
        height: 70px;
        width: 70px;
        transition-duration: 0.5s;
    }

    .opc:hover {
        transition-duration: 0.5s;
        transform: scale(1.2);
    }

    #song_name {
        font-size: 20px;
        color: #f2f2f2;
        font-weight: 900;
    }
</style>
