---
interface Props {
    titulo: string;
    contenido: string;
    clase: string;
    color: string;
}

const { titulo, contenido, clase, color } = Astro.props;
---

<div class={"card " + clase} style={{ backgroundColor: color }}>
    <h3 class="title">{titulo}</h3>
    <p class="content">{contenido}</p>
</div>

<style>
    .card {
        box-sizing: border-box;
        height: 500px;
        width: 380px;
        border-radius: 20px;
        padding: 30px;
        position: absolute;
        left: 10%;
        top: 6vh;
        box-shadow: #000 1px 1px 30px;
        transition-duration: 1s;
    }

    .card:hover {
        transition-duration: 1s;
        transform: rotate(5deg);
        transform-origin: bottom right;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .uno {
        left: 10%;
        z-index: 17;
    }
    .dos {
        left: 11%;
        z-index: 16;
    }
    .tres {
        left: 12%;
        z-index: 15;
    }

    .cuatro {
        left: 13%;
        z-index: 14;
    }

    .cinco {
        left: 14%;
        z-index: 13;
    }

    .seis {
        left: 15%;
        z-index: 12;
    }

    .siete {
        left: 16%;
        z-index: 11;
    }

    .ocho {
        left: 17%;
        z-index: 10;
    }
</style>
