---

---

<div class="Info_Sec">
    <img src="#" alt="Imagen de Seccion" />
    <a href="#">Boton</a>
</div>

<style>
    .Info_Sec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 550px;
        width: 378px;
        background-color: #8758ff;
        border-radius: 10px;
    }

    img {
        height: 274px;
        align-self: flex-start;
        border-radius: 10px 10px 0px 0px;
    }

    a {
        color: #181818;
        text-decoration: none;
        margin-bottom: 80px;
        padding: 10px 40px;
        background-color: #f2f2f2;
        font-size: 18px;
        font-weight: 900;
        border-radius: 10px;
        transition-duration: 0.5s;
    }

    a:hover {
        transition-duration: 0.5s;
        transform: scale(1.2);
    }
</style>
