---
interface Props {
    img: string;
    song: string;
    clase: string;
}
import { vinilos_img } from "../js/links.js";

const { vinilo_img } = vinilos_img;
const { img, song, clase } = Astro.props;
---

<div class={"contenedor_vinilo " + clase}>
    <div class="vinilo">
        <img id="logo" src={img} alt="bandaimg" />
        <img id="disco" src={vinilo_img} alt="disco vinilo" />
        <audio>
            <source src={song} />
        </audio>
    </div>
</div>

<style>
    #disco {
        height: 400px;
        width: 400px;
    }

    #logo {
        height: 300px;
        width: 300px;
        border-radius: 200px;
        position: absolute;
        z-index: 1;
    }

    .vinilo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @keyframes giros {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .contenedor_vinilo {
        position: absolute;
    }

    .uno {
        z-index: 39;
        animation: giros 6s infinite;
    }

    .dos {
        z-index: 38;
        left: 15px;
    }
    .tres {
        z-index: 37;
        left: 30px;
    }
    .cuatro {
        z-index: 36;
        left: 45px;
    }
    .cinco {
        z-index: 35;
        left: 60px;
    }
    .seis {
        z-index: 34;
        left: 75px;
    }
    .siete {
        z-index: 33;
        left: 90px;
    }
    .ocho {
        z-index: 32;
        left: 105px;
    }
    .nueve {
        z-index: 31;
        left: 120px;
    }
    .diez {
        z-index: 30;
        left: 135px;
    }
</style>
