---
interface Props {
    img: string;
    song: string;
}

const { img, song } = Astro.props;
---

<div class="contenedor_vinilo">
    <div class="vinilo">
        <img id="logo" src={img} alt="bandaimg" />
        <img id="disco" src="img/Vinilo.png" alt="disco vinilo" />
        <audio>
            <source src={song} />
        </audio>
    </div>
</div>

<style>
    #disco {
        height: 400px;
        width: 400px;
    }

    #logo {
        height: 200px;
        width: 200px;
        border-radius: 200px;
        position: absolute;
        z-index: 1;
    }

    .vinilo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: giros 6s infinite;
    }

    @keyframes giros {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .contenedor_vinilo {
        position: absolute;
    }
</style>
